.selected {
  background-color: #E8EEF7;
}

@sprite .expanded {
  gwt-image: 'collapse';
  background: transparent collapsedUrl no-repeat;
  background-position: 2px 5px;
  padding-left: 15px;
}

@sprite .collapsed {
  gwt-image: 'expand';
  background: transparent collapsedUrl no-repeat;
  background-position: 2px 5px;
  padding-left: 15px;
}

@sprite .loading {
  gwt-image: 'loading';
  background: transparent loadingUrl no-repeat;
  background-position: center center;
  margin: 20px auto;
}

@sprite .error {
  gwt-image: 'error';
  background: transparent errorUrl no-repeat;
  background-position: 3px 2px;
  background-color: red;
  padding-left: 18px;
  height: 17px;
  color: white;
  font-weight: bold;
  width: auto;
}

@sprite .showHide {
  gwt-image: 'showHide';
  background: transparent showHideUrl no-repeat;
  background-position: 50% 50%;
}

.parameterFormNameCell {
  padding-top: 4px !important;
  padding-right: 0 !important;
  text-align: right;
  white-space: nowrap;
}

.parameterFormTextBoxCell {
  width: 100%;
}

.parameterFormTextBoxCell input {
  border: 1px solid #666;
}

.parameterFormDescriptionCell {
  font-size: 12px;
  color: #666;
  padding-bottom: 10px !important;
}

.jsonNull {
  color: #800;
}

.jsonNumber,.jsonBoolean {
  color: #008;
}

.jsonString {
  color: #080;
}

a.jsonStringLink {
  color: #4272DB;
}

@sprite a.jsonStringExplorerLink {
  gwt-image: 'magnifyingGlass';
  background: transparent magnifyingGlassUrl no-repeat;
  background-position: 100% 50%;
  padding-right: 17px;
  color: #4272DB;
}

.jsonKey,.jsonObject,.jsonArray {
  /* Reserved for future use. */
}

@sprite .jsonExpanded {
  gwt-image: 'collapse';
  background: transparent collapsedUrl no-repeat;
  background-position: 2px 2px;
  padding-left: 15px;
  margin-left: -15px;
}

@sprite .jsonCollapsed {
  gwt-image: 'expand';
  background: transparent collapsedUrl no-repeat;
  background-position: 2px 2px;
  padding-left: 15px;
  margin-left: -15px;
}

.responseLine {
  /* Reserved for future use. */
}

.addParameter {
  cursor: pointer;
  color: #4272DB;
  position: relative;
  float: right;
  margin-bottom: -18px;
  padding-top: 3px;
  padding-right: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.removeParameter {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: -18px;
  padding-right: 5px;
}

.invalidParameter input {
  border: 2px solid #DD4B39 !important;
}

.invalidParameter div {
  color: #DD4B39;
  padding-top: 3px;
}

.clickable {
  color: #4272DB;
  text-decoration: underline;
  cursor: pointer;
}

/*
 External (uncompiled) CSS rules
 */

html, body {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

@external .gwt-SuggestBoxPopup, .item-selected, .gwt-TabBarItem, .gwt-TabBarItem-selected,
          .gwt-TabBarItem-disabled, .gwt-TabPanelBottom;

.gwt-SuggestBoxPopup {
  border: 1px solid #666;
  background-color: #FFF;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.gwt-SuggestBoxPopup table {
  border-spacing: 0 0;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #C9D7F1;
}

.gwt-TabBarItem {
  padding: 5px 10px 3px 10px;
  margin-left: 4px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #C9D7F1;
  background-color: #F3F3F3;
  cursor: pointer;
  outline-width: 0px;
}

.gwt-TabBarItem-selected {
  background-color: #C9D7F1;
}

.gwt-TabBarItem-disabled {
  color: #666;
}

.gwt-TabPanelBottom {
  background-color: #C9D7F1;
  padding: 6px 5px 3px 5px;
}